body{
  font-family: "Montserrat";
}


.title{
  color: blue;
  font-size: 50px;
  font-family: serif;
}

#top{
  color: #1a6985;
  opacity: 0.8;
  font-size: 50px;
  font-family: serif;
  align-self: center;
  padding: 30px;
}

.item{
  padding: 70px;
  background-color: #e9f5f9;
  font-size: 40px;
  border: 2px solid ;
  border-radius: 30px;
  margin: 5px;
  margin-top: 20px;
}
